@import '../../../scss/base/variables.scss';

.items-column__item {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $superwhite;
    transition: .2s ease all;
}

.items-column__item a {
    padding: 1rem 0;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: black;
}

.items-column__item--active, .items-column__item:hover {
    background-color: $hover-color;
}

.items-column__item--active a, .items-column__item:hover a{
    color: $white !important;
    text-decoration: none;
}
