@import "../../../scss/base/variables.scss";

.custom-file-upload__container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  width: 100%;
}

.custom-file-upload__inner-container {
  width: 100%;
}

.custom-file-upload__input {
  height: 3.2rem;
  border-radius: 0.5rem;
  width: 100%;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 1rem;
}

.custom-file-upload__error {
  color: red;
  font-size: 0.9rem;
  display: inline;
  margin: 0 2rem;
}

.custom-file-upload__label {
  padding: 3rem 1rem 0 0;
  display: inline-block;
  color: $black;
  text-align: right;
}

@media (max-width: 650px) {
  .custom-file-upload__input {
    width: 100%;
    max-width: none;
  }
  .custom-file-upload__label{
      padding: 1rem 0;
  }
}
