@import '../../style.scss';

.productList__container{
    width: 80%;
    float: left;
    margin: 0;
}

.productList__no-obj-found{
    padding: 5rem;
    text-align: center;
}

.product-list__no-products {
    padding: 5rem;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}