@import '../../../scss/base/variables.scss';

.submit-advertising-banners__table {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    direction: rtl;
    border-radius: 1rem;
    border: 2px solid grey;
    overflow: hidden;
}

.submit-advertising-banners__headers {
    background-color: $second-color;
    color: $white;
    display: flex;
}

.submit-advertising-banners__row {
    background-color: $superwhite;
    color: black;
    display: flex;
}

.submit-advertising-banners__cell {
    width: 50%;
    border: 1px solid grey;
    text-align: center;
    padding: 1rem;
}