@import "../../../scss/base/variables.scss";

.basic-select__container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto
}

.basic-select__container--full{
  width: 100%;
}

.basic-select__inner-container {
  width: 100%;
  text-align: right;
}

.basic-select__input {
  background-color: $secondary-color;
  height: 3.2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 2px solid $borders;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 0 1rem;
  cursor: pointer;
}

.basic-select__input:focus {
  background-color: $first-color;
  outline: none;
}

.basic-select__error {
  color: red;
  font-size: 0.9rem;
  display: inline;
  margin: 0 2rem;
}

.basic-select__label {
  padding: 3rem 1rem 0 0;
  display: inline-block;
  color: $black;
  text-align: right;
}

@media (max-width: 650px) {
  .basic-select__container{
    width: 100%;
  }
  .basic-select__inner-container {
    flex-direction: column;
  }
  .basic-select__input {
    width: 100%;
    max-width: none;
  }
  .basic-select__label {
    padding: 1rem;
  }
}
