@import "../../../scss/base/variables.scss";

.basic-select__container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.basic-select__container--full{
  width: 100%;
}

.basic-select__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.basic-select__input {
  background-color: $white;
  height: 3.2rem;
  border-radius: 0.5rem;
  width: 95%;
  max-width: 20rem;
  border: 2px solid $primary-color;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 0 1rem;
  cursor: pointer;
}

.basic-select__input:focus {
  outline: none;
}

.basic-select__error {
  color: red;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.basic-select__label {
  padding: 1.3rem 0;
  width: 10rem;
  display: inline-block;
  color: black;
}

@media (max-width: 650px) {
  .basic-select__container{
    width: 100%;
  }
  .basic-select__inner-container {
    flex-direction: column;
  }
  .basic-select__input {
    width: 100%;
    max-width: none;
  }
  .basic-select__label {
    padding: 1rem;
  }
}
