@import '../../../scss/base/variables.scss';

.searchBar__item {
    width: 100%;
    text-align: center;
    .searchBar__input {
        padding: 5px 20px;
        text-align: right;
        width: 50%;
        border: 1px solid $second-color;
        border-radius: 10px;
        margin: 15px auto;
        height: 30px;
        padding: 2rem 1rem;
    }
    .searchBar__input:focus{
        outline: none;
    }
    .searchBar__icon {
        position: relative;
        top: 2px;
        left: 30px;
        color: $borders;
        z-index: 1;
    }
}

