@import '../../../scss/base/variables.scss';

.searchBar__form {
    display: table-cell;
    vertical-align: middle;
}

.searchBar__item {
    width: 100%;
    text-align: center;
    .searchBar__input {
        text-align: right;
        width: 90%;
        border: 1px solid $second-color;
        border-radius: 1rem;
        margin: 1.5rem auto;
        height: 3rem;
        padding: 2rem 1rem;
    }
    .searchBar__input:focus{
        outline: none;
    }
    .searchBar__icon {
        position: relative;
        top: .2rem;
        right: 88%;
        color: $borders;
        z-index: 1;
    }
}

