@import '../../../style.scss';

.searchBar__item {
    width: 100%;
    text-align: center;
    .searchBar__input {
        padding: 5px 20px;
        text-align: right;
        width: 50%;
        border: $borders 1px solid;
        border-radius: 10px;
        margin: 15px auto;
        height: 30px;
    }
    .searchBar__input:focus{
        outline: none;
    }
    .searchBar__icon {
        position: absolute;
        top: 20px;
        left: 21%;
        color: $borders;
    }
}

