@import '../../scss/base/variables.scss';

.product-details__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5%;
    .product-details__leftPanel {
        width: 50%;
        float: left;
        padding: 30px 2%;
        .product-details__h1--no-margin{
            margin: 0 5px;
        }
        .product-details__table {
            text-align: center;
            .product-details__column{
                width: 50%;
            }
        }
    }
    .product-details__rightPanel {
        width: 50%;
        float: right;
        padding: 60px 2%;
        .product-details__imageContainer {
            width: 80%;
            height: 400px;
            margin: auto;
            .product-details__image{
                height: 400px;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
                box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
            }
        }
    }
}
.product-details__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    flex-direction: column;
    border: 1px solid $borders;
    background-color: $white;
    border-radius: 1rem;
    padding: 3rem;
}

.product-details__order-title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-details__advertisements-container {
    width: 50%;
    margin: auto;
    border: 1px solid grey;
    background-color: $white;
    border-radius: 1rem;
    margin-top: 5rem;
    padding: 4rem;
}

.product-details__advertisements-title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-details__buttons-container {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.product-details__buttons-container a{
    padding: 1rem;
    margin: 2rem auto;
    width: 30%;
    text-align: center;
    background-color: $second-color;
    border-radius: 1rem;
    color: $white;
    transition: .5s ease;
    border: 2px solid $second-color;
}

.product-details__buttons-container a:hover{
    background-color: $white;
    color: $second-color;
    text-decoration: none;
    border: 2px solid $borders;
}