@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
$primary-color: #034378;
$secondary-color: #eee;
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: rgb(0, 86, 123);
$lightgreen: rgb(83, 203, 255);
$white: #eee;
$superwhite: #fff;
$black: #000;
$borders: #aaa;
$gray: #999;
$open-sans: 'Open Sans',
sans-serif;

$first-color: #1A1A1D;
$second-color: #4E4E50;
$third-color: #6F2232;
$fourth-color: #950740;
$fifth-color: #C3073F;

$sixth-color: #0E2130;