@import '../../scss/base/variables.scss';

$tail-top-relative : 0.75rem;
$circle-radius : 7rem;
$nav-height: 7rem;
$tail-width : 10rem;
$tail-height: 5.5rem;

.navbar__container{
    max-width: 1000px;
    width: 90%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row-reverse;
}

.navbar__flex{
    display: flex;
    justify-content: center;
}

.navbar__content{
    display: flex;
    flex-direction: row-reverse;
    background-color: $second-color;
    align-items: center;
    height: $nav-height;
    color: $white;
    flex: auto;
    padding: 0 1rem;
    border-radius: 2rem;
}

.navbar__circle{
    height: $circle-radius;
    width: $circle-radius;
    background-color: $third-color;
    border-radius: 50%;
    position: relative;
    left: $circle-radius/2;
    top: -$tail-top-relative;
    border: 3px solid $second-color;
}

.navbar__tail{
    position: relative;
    top: $tail-top-relative;
    display: flex;
    flex-direction: row-reverse;
    height: $tail-height;
    width: $tail-width;
    background-color: $third-color;
    border-radius: 2rem;
}