@import '../../scss/base/variables.scss';

.advertisement-list__container {
    width: 100%;
    padding: 5rem 2rem;
    display: flex;
    direction: rtl;
    min-height: 20rem;
}

.advertisement-list__section {
    width: 48%;
    border: 3px solid $borders;
    margin: auto;
    height: 100%; 
    min-height: 20rem;
    border-radius: 1rem;
    background-color: $white;
    padding: 1rem;
}

.advertisement-list__title {
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
}

.advertisement-list__table {
    width: 95%;
    margin: auto;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
}

.advertisement-list__row {
    width: 100%;
    display: flex;
    background-color: $superwhite;
    height: 4rem;
    color: black;
    transition: .2s ease all;
    cursor: pointer;
}

.advertisement-list__row:hover {
    background-color: $white;
}

.advertisement-list__header {
    background-color: $second-color;
    color: $white;
    cursor: initial;
}

.advertisement-list__header:hover {
    background-color: $second-color;
}

.advertisement-list__table-cell {
    width: 25%;
    text-align: center;
    padding: .7rem 0;
}