@import "../../../scss/base/variables.scss";

.custom-input__container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-input__inner-container {
  width: 100%;
  text-align: center;
}

.custom-input__input {
  background-color: $secondary-color;
  height: 3.2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 2px solid $borders;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 1rem;
}

.custom-input__input:focus{
    background-color: $first-color;
    outline: none;
}

.custom-input__error {
  color: red;
  font-size: 0.9rem;
  display: inline;
}

.custom-input__label {
  padding: 2rem 1rem 0 0;
  display: inline-block;
  color: $black;
  text-align: right;
}

@media (max-width: 650px) {
  .custom-input__input {
    width: 100%;
    max-width: none;
  }
  .custom-input__label{
      padding: 1rem 0;
  }
}
