@import '../../../scss/base/variables.scss';

.custom-table__container {
    width: 90%;
    margin: 2rem auto;
}

.custom-table__table {
    width: 100%;
    direction: rtl;
    border: 1px solid $black;
}

.custom-table__thead {
    background-color: $first-color;
    width: 100%;
}

.custom-table__td {
    text-align: center;
    flex-grow: 1;
    min-width: 16.67%;
    padding: 2rem 0;
    border: 1px solid $borders;
}

.custom-table__td--long {
    min-width: 20%;
}

.custom-table__tr, .custom-table__thead {
    display: flex;
}