@import '../../../scss/base/variables.scss';

.payment-result__container {
    width: 50%;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: $white;
    padding: 2rem;
    margin: 10rem auto;
    text-align: center;
}

.payment-result__h1 {
    padding: 10rem;
    margin: auto;
    font-size: 30px;
    font-weight: 600;
    direction: rtl;
}

.payment-result__h1--successful {
    color: green;
}

.payment-result__h1--unsuccessful {
    color: $fifth-color;
}