.custom-react-switch__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.custom-react-switch__switch{
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}