@import "../../../scss/base/variables.scss";

$lightgold: rgb(255, 238, 143);
$gold: rgb(255,215,0);
$darkgold: rgb(190, 162, 0);

.product-card__container{
    background-color: #888;
    height: 30rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
    margin: 4rem 2rem 2rem 2rem;
    background-blend-mode: darken;
    background-position-x: center;
    background-size: cover;
    box-shadow: .5rem .5rem 1rem grey;
}

.product-card__container--gold {
    box-shadow: .5rem .5rem 1rem $darkgold;
}

.product-card__container:hover {
    background-color: #222;
}

.product-card__content {
    height: 100%;
    width: 100%;
    border: 2px solid $first-color;
    border-radius: 1rem;
    transition: 0.5s;
    overflow: hidden;
    color: $first-color;
}

.product-card__content--gold {
    border-color: $gold;
}

.product-card__content:hover{
    color: $white;
}

.product-card__content--gold:hover{
    color: $gold;
}

.product-card__content:hover{
    border: 2px solid $white;
}

.product-card__content--gold:hover{
    border: 2px solid $gold;
}

.product-card__name{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: .5rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s;
    color: $white;
}

.product-card__name--hover {
    color: $superwhite;
}

.product-card__name--gold.product-card__name--hover {
    color: $gold;
}

.product-card__container:hover .product-card__name{
    font-size: 2rem;
}

.product-card__description{
    height: 30%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 1rem 0;
    text-align: justify;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    direction: rtl;
    color: $white;
}

.product-card__image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    .product-card__image-before {
        height: 100%;
        width: 90%;
        background-color: $first-color;
        border-radius: 1rem;
        position: absolute;
        transition: 0.5s;
    }

    .product-card__image-before--gold {
        background-color: $lightgold;
    }

    .product-card__image{
        height: 90%;
        width: 80%;
        position: absolute;
        top: 3rem;
        background-color: $third-color;
        border-radius: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
        border: 1px solid $third-color;
    }
}

.product-card__container:hover .product-card__image{
    height: 100%;
    width: 90%;
    top: 0;
}

.product-card__container:hover .product-card__image-before{
    background-color: $white;
}

.product-card__details-button-container{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    text-align: justify;
    padding: 1rem 2rem;
}

.product-card__details-button{
    border: 1px solid $white;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    color: $white;
    cursor: pointer;
}

.product-card__details-button--gold {
    color: $gold;
    border-color: $gold;
}

.product-card__details-button:hover{
    background-color: $first-color;
    color: black;
}

.product-card__description-text{
    word-wrap: break-word;
    text-align: justify;
    height: 90%;
    overflow: hidden;
}