@import './scss/normalize.css';
@import './scss/base/variables.scss';

* {
    box-sizing: border-box;
    position: relative;
}

@font-face {
    font-family: 'BNazanin';
    src: url('./fonts/BNazanin.eot?#') format('eot'),  /* IE6–8 */
            url('./fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('./fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body {
    background-color: $first-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    // font-family: 'BNazanin';
    text-align: right;
    margin: 0;
}

a, span {
    text-decoration: none;
    // font-family: 'BNazanin';
}

h1, h2, h3, h4, h5 {
    // font-family: 'BNazanin';
    font-weight: 300;
}

.row {
    max-width: 900px;
    margin: 50px auto 0;
}