.ui.vertical.menu {
	direction: rtl;
	float: right;
	font-size: 15px;
}

.ui.input {
	width: 100%;
	font-size: 15px;
	text-align: right;
}

.ui.vertical.menu .item > .label.floatLeft {
	float: left;
}

.ui.icon.input > i.icon {
	left: 0;
	right: unset;
}

.ui.form input[type="text"] {
	text-align: right;
}

.ui.icon.input > input {
	padding-right: 20px !important;
}